.box {
  background-size: cover;
  height: 102px;
  width: 102px;
  position: relative;
  z-index: 1;
}
#meat1 {
  background-image: url('../images/meat-1.png');
}
#meat2 {
  background-image: url('../images/meat-2.png');
}
#meat3 {
  background-image: url('../images/meat-3.png');
}
#meat4 {
  background-image: url('../images/meat-4.png');
}
#meat5 {
  background-image: url('../images/meat-5.png');
}
#meat6 {
  background-image: url('../images/meat-6.png');
}
#meat7 {
  background-image: url('../images/meat-7.png');
}
#meat8 {
  background-image: url('../images/meat-8.png');
}
#meat9 {
  background-image: url('../images/meat-9.png');
}
#meat10 {
  background-image: url('../images/meat-10.png');
}
#meat11 {
  background-image: url('../images/meat-11.png');
}
#meat12 {
  background-image: url('../images/meat-12.png');
}
#meat13 {
  background-image: url('../images/meat-13.png');
}
#meat14 {
  background-image: url('../images/meat-14.png');
}
#meat15 {
  background-image: url('../images/meat-15.png');
}
#meat16 {
  background-image: url('../images/meat-16.png');
}
#meat17 {
  background-image: url('../images/meat-17.png');
}
#meat18 {
  background-image: url('../images/meat-18.png');
}
#meat19 {
  background-image: url('../images/meat-19.png');
}
#meat20 {
  background-image: url('../images/meat-20.png');
}
#meat21 {
  background-image: url('../images/meat-21.png');
}
#meat22 {
  background-image: url('../images/meat-22.png');
}
#meat23 {
  background-image: url('../images/meat-23.png');
}
#meat24 {
  background-image: url('../images/meat-24.png');
}
#meat25 {
  background-image: url('../images/meat-25.png');
}
#meat26 {
  background-image: url('../images/meat-26.png');
}
#meat27 {
  background-image: url('../images/meat-27.png');
}
#meat28 {
  background-image: url('../images/meat-28.png');
}
#meat29 {
  background-image: url('../images/meat-29.png');
}
#meat30 {
  background-image: url('../images/meat-30.png');
}
.col-centered {
  margin: 0 auto;
  float: none;
}
.row {
  margin-bottom: 10px;
}
.box-2 {
  background-color: rgb(0,175,193);
  height: 102px;
  width: 102px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}
#page-content {
  margin-right: 112px;
}
#advent_title {
/*  border: 1px solid black;
*/  text-align: center;
}
.star {
  background-image: url('../images/star.png');
  background-size: cover;
  height: 102px;
  width: 102px;
}
body {
  background-color: rgb(183,244,242);
}
#first-line {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
}
#second-line {
  font-family: 'Lobster Two', italic, cursive;
  font-size: 53px;
  line-height: 20px;
  font-weight: 300;
  margin-left: -3px;
  color: rgb(181,53,36);
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}
#third-line {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 47px;

}